---
import BaseLayout from '../layouts/BaseLayout.astro';
import categories from '../nav';
import { Icon } from 'astro-icon';
const pageTitle = "Home";
---
<BaseLayout pageTitle={pageTitle}>
	<div class="max-w-2xl p-8 mx-auto">
		<div class="flex flex-col gap-4 mb-8">
			<h1 class="text-4xl font-bold text-center md:text-5xl">ChatMamba Help Center</h1>
			<p class="text-xl text-center text-gray-500 md:text-2xl dark:text-gray-400">Ask Questions. Browse Articles. Find Answers.</p>
		</div>
		<div class="grid grid-cols-1 gap-4">
			{categories.map(category => <section class="flex flex-col gap-4 py-4 md:p-4">
				<a href={`/categories/${category.id}`} class="text-2xl font-bold">{category.name}</a>
				<ul class="flex flex-col gap-1">
					{category.articles.slice(0, 3).map(article => <li>
						<a href={`/articles/${article.id}`} class="underline decoration-gray-400">{article.title}</a>
					</li>)}
				</ul>
				{category.articles.length > 3 &&
					<a role="button" href={`/categories/${category.id}`}>
						<div class="inline-flex items-center px-4 py-2 rounded bg-sky-200 dark:bg-slate-700">
							{category.articles.length - 3} more
							<Icon name="ic:round-arrow-right-alt" class="w-6 h-6 dark:text-gray-300"/>
						</div>
					</a>}
			</section>)}
		</div>
	</div>
</BaseLayout>
