---
import { Icon } from 'astro-icon';
import '../styles/global.css';
import BaseLayout from './BaseLayout.astro';
import Menu from '../components/Menu.astro';
import RightSidebar from '../components/RightSidebar.astro';
import 'remark-callouts/styles.css';
import ThemeChanger from '../components/ThemeChanger.vue';
import categories from '../nav';

const { frontmatter, headings } = Astro.props;
const { minutesRead } = Astro.props.frontmatter;
const pathname = Astro.url.pathname.replace(/\/$/, "");

const articles = categories.map(category => category.articles).flat();
const currentArticleIndex = articles.findIndex(article => `/en/articles/${article.id}` === pathname);
---
<BaseLayout pageTitle={frontmatter.title} description={frontmatter.description}>
    <div class="relative flex px-4 pb-4">
        <aside id="left-sidebar" class="fixed flex-col p-4 w-72 h-[calc(100%_-_64px)] hidden md:flex">
            <Menu></Menu>
            <div class="flex items-center justify-center px-2 py-4 md:hidden">
                <ThemeChanger client:load>
                    <Icon name="ic:baseline-light-mode" class="w-5 h-5" slot="light-mode"/>
                    <Icon name="ic:baseline-dark-mode" class="w-5 h-5" slot="dark-mode"/>
                </ThemeChanger>
            </div>
        </aside>
        <div class="flex flex-col gap-4 mx-auto md:pt-4 lg:max-w-xl">
            <nav class="sticky z-10 py-2 bg-sky-50 dark:bg-slate-800 top-16 md:hidden">
                <details class="relative">
                    <summary class="flex list-none cursor-pointer">
                        <div class="flex items-center gap-2 px-2 py-1 border rounded-md dark:border-gray-500">
                            <h2 class="font-semibold">On This Page</h2>
                            <Icon name="ic:baseline-expand-more" class="w-5 h-5 dark:text-gray-300"/>
                        </div>
                    </summary>
                    <ul class="absolute flex flex-col py-2 mt-2 border border-gray-300 rounded dark:border-gray-500 bg-sky-100 dark:bg-slate-900">
                        {headings.map(heading => <li>
                            <a href={`#${heading.slug}`} class:list={[
                                "px-3 py-1.5 block",
                                {
                                    'text-gray-900 bg-sky-100 dark:text-gray-50 dark:bg-sky-700 font-semibold': `/en/articles/${heading.slug}` === pathname,
                                    'text-gray-500 hover:bg-sky-100 dark:text-gray-400 dark:hover:bg-sky-600/50': `/en/articles/${heading.slug}` !== pathname
                                }
                            ]}>{heading.text}</a>
                        </li>)}
                    </ul>
                </details>
            </nav>
            <h1 class="mb-6 text-4xl font-extrabold leading-tight md:my-6 md:text-5xl">
                {frontmatter.title}
            </h1>
            <div class="flex items-center gap-2">
                <Icon name="ic:outline-timer" class="w-5 h-5"/>
                <p>{minutesRead}</p>
            </div>
            <hr>
            <article class="prose dark:prose-invert prose-headings:relative prose-lead:group dark:prose-a:text-blue-400 prose-a:text-blue-600 hover:prose-a:text-blue-500 prose-headings:ml-8">
                <slot />
            </article>
            <div class="flex flex-col gap-2 md:flex-row md:justify-between">
                {currentArticleIndex > 0 && <a href={`/en/articles/${articles[currentArticleIndex - 1].id}`} class="flex items-center gap-2 p-4 border border-gray-300 rounded dark:border-gray-500">
                    <Icon name="ic:outline-arrow-back" class="w-10 h-10 text-gray-600 dark:text-gray-400"/>
                    <div class="flex flex-col">
                        <div class="dark:text-gray-400">Back</div>
                        <div class="text-lg font-semibold">{articles[currentArticleIndex - 1].title}</div>
                    </div>
                </a>}
                {currentArticleIndex !== articles.length - 1 && <a href={`/en/articles/${articles[currentArticleIndex + 1].id}`} class="flex items-center justify-end gap-2 p-4 border border-gray-300 rounded dark:border-gray-500">
                    <div class="flex flex-col">
                        <div class="dark:text-gray-400">Next Page</div>
                        <div class="text-lg font-semibold">{articles[currentArticleIndex + 1].title}</div>
                    </div>
                    <Icon name="ic:outline-arrow-forward" class="w-10 h-10 text-gray-600 dark:text-gray-400"/>
                </a>}
            </div>
        </div>
        {headings.length > 0 && <aside class="fixed right-0 hidden p-4 w-72 md:block">
            <RightSidebar headings={headings}></RightSidebar>
        </aside>}
    </div>
</BaseLayout>
